@import '../../node_modules/balloon-css/balloon.css';

[aria-label][data-balloon-pos="up"]:before {
    display: none;
}

[aria-label][data-balloon-pos="up"]:after {
    padding: 0.3em 0.7em;
    background: rgba(17, 17, 17, 0.7);
}

[aria-label][data-balloon-pos="up"]:after {
    margin-bottom: 0;
}
